.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift
pubspec.lock
.vscode/
.history/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
*.iml
.idea/
*.log
